DATA SCIENTIST - PYTHON

This test consits of eight problems. You are required to write your code in cell below each problem and output the result in cell next to it

Rename and Save the notebook with your FirstName_LastName (eg. Sahil_Gupta.ipynb)

In [1]:
# ASHISH KUMAR
# singh.ashish.kr96@gmail.com
# +91 9958702735

********************************************* Test starts here **************************************************

INSTRUCTIONS:
    1. You are required to download and import five CSV files and one json file
    2. Code must be in Python3
    3. Either your code should output something or leave the comment "#solution code here" as it is.
    4. You can use any Python3 library (two are imported already). There is no restriction
    5. Output fieldname to be displayed are marked as single quaotes '' in problem statement. You should use same field alias names whereever required

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd /content/drive/MyDrive/FIveS

/content/drive/MyDrive/FIveS

In [4]:
#!unzip /content/drive/MyDrive/FIveS/data-20220303T053132Z-001.zip

In [5]:
import numpy as np
import pandas as pd

In [6]:
#import CSVs here
#import JSONs here
accounts = pd.read_csv("/content/drive/MyDrive/FIveS/data/accounts.csv")
clicks = pd.read_csv("/content/drive/MyDrive/FIveS/data/clicks.csv")
products = pd.read_csv("/content/drive/MyDrive/FIveS/data/products.csv")
sales_pipeline = pd.read_csv("/content/drive/MyDrive/FIveS/data/sales_pipeline.csv")
sales_teams = pd.read_csv("/content/drive/MyDrive/FIveS/data/sales_teams.csv")
orchestra_json = pd.read_json("/content/drive/MyDrive/FIveS/data/Orchestra.json")
orchestra_csv = orchestra_json.to_csv(index=False)

In [7]:
accounts.head()

            account  revenue  employees
0        Sunnamplex  4592.96    13938.0
1             Silis  5339.57    18053.0
2      Groovestreet  2728.86     6486.0
3           Donware  2009.52     3409.0
4  Wonka Industries  4962.27     4687.0

In [8]:
clicks

       created_on    source     industry
0      2016-11-14  Referral           IT
1      2016-11-14    Social           IT
2      2016-11-14      Paid         SaaS
3      2016-11-14    Direct         SaaS
4      2016-11-15   Organic  Health Care
...           ...       ...          ...
30239  2017-12-31      Paid      Telecom
30240  2017-12-31    Direct    Education
30241  2017-12-31    Social           IT
30242  2017-12-31    Social         SaaS
30243  2017-12-31      Paid           IT

[30244 rows x 3 columns]

In [9]:
products

        product  sales_price
0   GTXAdvanced        649.0
1      GTXBasic        641.0
2        MGRPFU       3959.0
3        MGRPFS         64.0
4  GTXPlusBasic       1279.0
5    GTXPlusPro       6395.0
6        GTXPro       5624.0
7       GTK500U      31229.0

In [10]:
sales_pipeline

                 account opportunity_id  ... close_value  created_on
0             Sunnamplex       67HY0MW7  ...       500.0  2017-04-24
1                    NaN       MA82HVCI  ...         NaN  2017-06-15
2                    NaN       BRL1KVVH  ...         0.0  2017-05-19
3                  Silis       R22O68FF  ...       524.0  2017-03-21
4                  Silis       J78AK31N  ...      4794.0  2017-05-15
...                  ...            ...  ...         ...         ...
14272           Kan-code       HI8K524C  ...        75.0  2017-07-07
14273            Initech       4CS92BTC  ...      6892.0  2017-10-12
14274            Domzoom       VWNFKJPJ  ...       439.0  2017-08-11
14275         Stanredtax       4FI7GRQG  ...        61.0  2017-09-25
14276  Cyberdyne Systems       RG633VHW  ...      1412.0  2017-08-21

[14277 rows x 8 columns]

In [11]:
sales_teams.head()

       sales_agent        manager regional_office
0    Donn Cantrell  Rocco Neubert         Central
1   James Ascencio  Summer Sewald            West
2   Vicki Laflamme   Celia Rouche            West
3  Niesha Huffines  Melvin Marxen            East
4    Kami Bicknell  Summer Sewald            West

In [12]:
orchestra_json

                                               programs
0     {'id': '00646b9f-fec7-4ffb-9fb1-faae410bd9dc-0...
1     {'id': '1118e84e-eb59-46cc-9119-d903375e65e6-0...
2     {'id': '08536612-27c3-437e-9b44-def21034b06c-0...
3     {'id': '81a3b8de-1737-4c9e-9318-b839f7c7c4c0-0...
4     {'id': '09581bb7-8855-4965-b302-fc54cc669041-0...
...                                                 ...
1028  {'id': '0cec4a90-0ee9-4809-817b-bc51c89b66ed-0...
1029  {'id': '6ebb2b01-88cf-4c2f-8bf6-88807a750951-0...
1030  {'id': '85d97664-c056-4256-a6c9-6dec4304ee6f-0...
1031  {'id': '8b902318-a297-40f0-aece-fe731b516814-0...
1032  {'id': '72860c7c-4742-41a6-8729-61ae9cddfc8f-0...

[1033 rows x 1 columns]

Refer & Use five CSVs to answer problem 1-5 below

PROBLEM 1: Display 'Manager' and 'Grand Total Sales', for sales done by the sales agents reporting these managers

In [13]:
#solution code here
#joinig  sales team and pipeline data
merged_data = sales_teams.merge(sales_pipeline,on=["sales_agent"]) 
merged_data.head()

     sales_agent        manager  ... close_value  created_on
0  Donn Cantrell  Rocco Neubert  ...       500.0  2017-04-24
1  Donn Cantrell  Rocco Neubert  ...         0.0  2017-02-24
2  Donn Cantrell  Rocco Neubert  ...       428.0  2017-03-27
3  Donn Cantrell  Rocco Neubert  ...         NaN  2017-10-04
4  Donn Cantrell  Rocco Neubert  ...         NaN  2017-07-12

[5 rows x 10 columns]

In [14]:
manager_totalsales = merged_data.groupby(["manager"]).agg({"close_value":'sum'}) #summing up all the cost generated for specific managers
manager_totalsales

                  close_value
manager
Cara Losch          1861751.0
Celia Rouche        2518466.0
Dustin Brinkmann    3028635.0
Melvin Marxen       4265901.0
Rocco Neubert       3346813.0
Summer Sewald       2915362.0

PROBLEM 2: Display 'Sales Agents' and 'Sales' for those sales where product sold at profit

In [15]:
#solution code here
#merging the product and sales pipeline data 
merged_data2 = products.merge(sales_pipeline,on=["product"]) 
merged_data2

        product  sales_price  ... close_value  created_on
0      GTXBasic        641.0  ...       500.0  2017-04-24
1      GTXBasic        641.0  ...         0.0  2017-05-19
2      GTXBasic        641.0  ...       524.0  2017-03-21
3      GTXBasic        641.0  ...       635.0  2017-06-30
4      GTXBasic        641.0  ...         0.0  2017-07-25
...         ...          ...  ...         ...         ...
14272   GTK500U      31229.0  ...     35749.0  2017-10-30
14273   GTK500U      31229.0  ...     31296.0  2017-05-21
14274   GTK500U      31229.0  ...     16845.0  2017-08-07
14275   GTK500U      31229.0  ...     38195.0  2017-07-06
14276   GTK500U      31229.0  ...         0.0  2017-08-23

[14277 rows x 9 columns]

In [16]:
# SPVSSPD = sales price vs sold price difference
merged_data2["SPVSSPD"] = merged_data2['sales_price'] - merged_data2['close_value'] 
merged_data2

        product  sales_price  ...  created_on  SPVSSPD
0      GTXBasic        641.0  ...  2017-04-24    141.0
1      GTXBasic        641.0  ...  2017-05-19    641.0
2      GTXBasic        641.0  ...  2017-03-21    117.0
3      GTXBasic        641.0  ...  2017-06-30      6.0
4      GTXBasic        641.0  ...  2017-07-25    641.0
...         ...          ...  ...         ...      ...
14272   GTK500U      31229.0  ...  2017-10-30  -4520.0
14273   GTK500U      31229.0  ...  2017-05-21    -67.0
14274   GTK500U      31229.0  ...  2017-08-07  14384.0
14275   GTK500U      31229.0  ...  2017-07-06  -6966.0
14276   GTK500U      31229.0  ...  2017-08-23  31229.0

[14277 rows x 10 columns]

Above is just a approach i tried where i went ahead with finding the difference but we Can't go with upper approach in this scenario as there are deal_stage where the sales team lost SPVSSPD won't be helpful in that case

In [17]:
# RESULT as it was not specified in what all details should be present in sales with sales agent name i have printed all 
salesagent_sales = merged_data2[merged_data2['close_value']>merged_data2['sales_price']]
salesagent_sales

        product  sales_price  ...  created_on SPVSSPD
5      GTXBasic        641.0  ...  2017-12-21   -19.0
15     GTXBasic        641.0  ...  2017-10-19  -234.0
20     GTXBasic        641.0  ...  2017-06-22   -47.0
28     GTXBasic        641.0  ...  2017-08-07   -74.0
32     GTXBasic        641.0  ...  2017-11-26   -72.0
...         ...          ...  ...         ...     ...
14264   GTK500U      31229.0  ...  2017-07-28 -6966.0
14268   GTK500U      31229.0  ...  2017-09-03 -6752.0
14272   GTK500U      31229.0  ...  2017-10-30 -4520.0
14273   GTK500U      31229.0  ...  2017-05-21   -67.0
14275   GTK500U      31229.0  ...  2017-07-06 -6966.0

[3211 rows x 10 columns]

PROBLEM 3: Display the 'Opportunity ID' and 'Days Taken to Close', for opportunities those got closed within a month

In [18]:
#Converting "Observation Date" into Datetime format
merged_data2["created_on"]=pd.to_datetime(merged_data2["created_on"])
merged_data2["close_date"]=pd.to_datetime(merged_data2["close_date"])
# days_since = Time taken to close the deal
merged_data2['days_since'] = merged_data2['close_date'] - merged_data2['created_on']

In [19]:
merged_data2

        product  sales_price           account  ... created_on  SPVSSPD days_since
0      GTXBasic        641.0        Sunnamplex  ... 2017-04-24    141.0    12 days
1      GTXBasic        641.0               NaN  ... 2017-05-19    641.0    76 days
2      GTXBasic        641.0             Silis  ... 2017-03-21    117.0    98 days
3      GTXBasic        641.0  Wonka Industries  ... 2017-06-30      6.0    10 days
4      GTXBasic        641.0               NaN  ... 2017-07-25    641.0    13 days
...         ...          ...               ...  ...        ...      ...        ...
14272   GTK500U      31229.0             Newex  ... 2017-10-30  -4520.0    12 days
14273   GTK500U      31229.0        Goodsilron  ... 2017-05-21    -67.0    80 days
14274   GTK500U      31229.0            Sumace  ... 2017-08-07  14384.0    13 days
14275   GTK500U      31229.0          Faxquote  ... 2017-07-06  -6966.0    71 days
14276   GTK500U      31229.0             Silis  ... 2017-08-23  31229.0    45 days

[14277 rows x 11 columns]

In [20]:
#RESULT 
merged_data2.loc[merged_data2['days_since'] <= '30 days', ['opportunity_id', 'days_since']]

      opportunity_id days_since
0           67HY0MW7    12 days
3           TMJ0OJ0B    10 days
4           B22V5Z3B    13 days
5           H7ZQUWDJ     9 days
15          WHRDPR4H    12 days
...              ...        ...
14267       QXU4DKFZ     8 days
14268       1X3S53KD    28 days
14269       GPMPG4Y4    11 days
14272       QRBKVNYK    12 days
14274       AE17R1YG    13 days

[3328 rows x 2 columns]

 PROBLEM 4 :Displaying product(s) got maximum leads (by count) generated from paid source

In [21]:
#solution code here
merged_data3 = clicks.merge(sales_pipeline,on=["created_on"]) 
merged_data3

         created_on    source industry  ...       product close_date close_value
0        2016-11-14  Referral       IT  ...      GTXBasic        NaN         NaN
1        2016-11-14  Referral       IT  ...        MGRPFU        NaN         NaN
2        2016-11-14    Social       IT  ...      GTXBasic        NaN         NaN
3        2016-11-14    Social       IT  ...        MGRPFU        NaN         NaN
4        2016-11-14      Paid     SaaS  ...      GTXBasic        NaN         NaN
...             ...       ...      ...  ...           ...        ...         ...
1415857  2017-12-31      Paid       IT  ...      GTXBasic        NaN         NaN
1415858  2017-12-31      Paid       IT  ...  GTXPlusBasic        NaN         NaN
1415859  2017-12-31      Paid       IT  ...      GTXBasic        NaN         NaN
1415860  2017-12-31      Paid       IT  ...  GTXPlusBasic        NaN         NaN
1415861  2017-12-31      Paid       IT  ...        MGRPFU        NaN         NaN

[1415862 rows x 10 columns]

In [22]:
merged_data3['product'].value_counts()

GTXBasic        304607
GTXPlusBasic    282877
GTXPro          235776
MGRPFS          226582
MGRPFU          200634
GTXPlusPro      159478
GTK500U           5908
Name: product, dtype: int64

In [23]:
product_paidsource = merged_data3.loc[merged_data3['source'] == 'Paid', ['product', 'source']]
product_paidsource

              product source
4            GTXBasic   Paid
5              MGRPFU   Paid
10             GTXPro   Paid
14           GTXBasic   Paid
15           GTXBasic   Paid
...               ...    ...
1415857      GTXBasic   Paid
1415858  GTXPlusBasic   Paid
1415859      GTXBasic   Paid
1415860  GTXPlusBasic   Paid
1415861        MGRPFU   Paid

[331240 rows x 2 columns]

In [24]:
#RESULT

product_paidsource2 = merged_data3.loc[merged_data3['source'] == 'Paid']
product_maxlead_paidsource = product_paidsource2.groupby(['product']).agg({"product":'count'})
product_maxlead_paidsource

              product
product
GTK500U          1409
GTXBasic        71644
GTXPlusBasic    66316
GTXPlusPro      37029
GTXPro          55036
MGRPFS          53306
MGRPFU          46500

PROBLEM 5: Display 'Sales Agent' and 'Opportunity Count', for those sales agents who lost atleast two opportunties

In [25]:
merged_data3

         created_on    source industry  ...       product close_date close_value
0        2016-11-14  Referral       IT  ...      GTXBasic        NaN         NaN
1        2016-11-14  Referral       IT  ...        MGRPFU        NaN         NaN
2        2016-11-14    Social       IT  ...      GTXBasic        NaN         NaN
3        2016-11-14    Social       IT  ...        MGRPFU        NaN         NaN
4        2016-11-14      Paid     SaaS  ...      GTXBasic        NaN         NaN
...             ...       ...      ...  ...           ...        ...         ...
1415857  2017-12-31      Paid       IT  ...      GTXBasic        NaN         NaN
1415858  2017-12-31      Paid       IT  ...  GTXPlusBasic        NaN         NaN
1415859  2017-12-31      Paid       IT  ...      GTXBasic        NaN         NaN
1415860  2017-12-31      Paid       IT  ...  GTXPlusBasic        NaN         NaN
1415861  2017-12-31      Paid       IT  ...        MGRPFU        NaN         NaN

[1415862 rows x 10 columns]

In [67]:
merged_data3['opportunity_id'].value_counts()

HWYR3G3S    267
58ICM06U    267
97ZKA023    267
T3TDYXK6    267
GMN5NKR8    267
           ...
D9HLUAB0      2
KLLUVP0N      2
ZXXWVT67      2
JNWT841B      2
SSPT3L1Z      2
Name: opportunity_id, Length: 14277, dtype: int64

In [65]:
# RESULT 
merged_data3.groupby(['opportunity_id']).agg({ "opportunity_id":'count', 'sales_agent':'count'})

                opportunity_id  sales_agent
opportunity_id
001ZTSAL                   161          161
007NXT8S                    33           33
007TC4E7                    25           25
008A25OC                    75           75
008FVXVY                    79           79
...                        ...          ...
ZZOD0NLI                    79           79
ZZOFE2SX                    80           80
ZZPZEV3K                    94           94
ZZY6MVVH                    38           38
ZZYF5FBH                    33           33

[14277 rows x 2 columns]

Refer & Use Orchestra.json to answer problem 6-8 below

In [27]:
#solution code here
orchestra_json = pd.read_json("/content/drive/MyDrive/FIveS/data/Orchestra.json")
orchestra_json

                                               programs
0     {'id': '00646b9f-fec7-4ffb-9fb1-faae410bd9dc-0...
1     {'id': '1118e84e-eb59-46cc-9119-d903375e65e6-0...
2     {'id': '08536612-27c3-437e-9b44-def21034b06c-0...
3     {'id': '81a3b8de-1737-4c9e-9318-b839f7c7c4c0-0...
4     {'id': '09581bb7-8855-4965-b302-fc54cc669041-0...
...                                                 ...
1028  {'id': '0cec4a90-0ee9-4809-817b-bc51c89b66ed-0...
1029  {'id': '6ebb2b01-88cf-4c2f-8bf6-88807a750951-0...
1030  {'id': '85d97664-c056-4256-a6c9-6dec4304ee6f-0...
1031  {'id': '8b902318-a297-40f0-aece-fe731b516814-0...
1032  {'id': '72860c7c-4742-41a6-8729-61ae9cddfc8f-0...

[1033 rows x 1 columns]

In [28]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize 
  
with open('/content/drive/MyDrive/FIveS/data/Orchestra.json') as f:
    d = json.load(f)

nycphil = json_normalize(d['programs'])
nycphil

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

                                            id  ...                                              works
0     00646b9f-fec7-4ffb-9fb1-faae410bd9dc-0.1  ...  [{'ID': '52446*', 'composerName': 'Beethoven, ...
1     1118e84e-eb59-46cc-9119-d903375e65e6-0.1  ...  [{'ID': '52437*', 'composerName': 'Beethoven, ...
2     08536612-27c3-437e-9b44-def21034b06c-0.1  ...  [{'ID': '52364*1', 'composerName': 'Beethoven,...
3     81a3b8de-1737-4c9e-9318-b839f7c7c4c0-0.1  ...  [{'ID': '52434*', 'composerName': 'Beethoven, ...
4     09581bb7-8855-4965-b302-fc54cc669041-0.1  ...  [{'ID': '52453*', 'composerName': 'Beethoven, ...
...                                        ...  ...                                                ...
1028  0cec4a90-0ee9-4809-817b-bc51c89b66ed-0.1  ...  [{'ID': '52389*', 'composerName': 'Beethoven, ...
1029  6ebb2b01-88cf-4c2f-8bf6-88807a750951-0.1  ...  [{'ID': '50070*', 'composerName': 'Tchaikovsky...
1030  85d97664-c056-4256-a6c9-6dec4304ee6f-0.1  ...  [{'ID': '2956*2', 'composerName': 'Gluck,  Chr...
1031  8b902318-a297-40f0-aece-fe731b516814-0.1  ...  [{'ID': '50623*2', 'composerName': 'Wagner,  R...
1032  72860c7c-4742-41a6-8729-61ae9cddfc8f-0.1  ...  [{'ID': '2528*', 'composerName': 'Rubinstein, ...

[1033 rows x 6 columns]

In [29]:
works_data = json_normalize(data = d['programs'],
							record_path ='works',
							meta =['id', 'orchestra', 'programID', 'season'])
works_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

           ID                 composerName  ... programID   season
0      52446*      Beethoven,  Ludwig  van  ...      3853  1842-43
1      8834*4      Weber,  Carl  Maria Von  ...      3853  1842-43
2       3642*              Hummel,  Johann  ...      3853  1842-43
3          0*                          NaN  ...      3853  1842-43
4      8834*3      Weber,  Carl  Maria Von  ...      3853  1842-43
...       ...                          ...  ...       ...      ...
7061   9003*6             Wagner,  Richard  ...     10018  1910-11
7062   50070*  Tchaikovsky,  Pyotr  Ilyich  ...     10018  1910-11
7063  9008*12             Wagner,  Richard  ...     10018  1910-11
7064   9001*9             Wagner,  Richard  ...     10018  1910-11
7065    2974*             Wagner,  Richard  ...     10018  1910-11

[7066 rows x 13 columns]

In [30]:
soloist_data = json_normalize(data = d['programs'],
							record_path =['works', 'soloists'],
							meta =['id'])

soloist_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

                soloistName  ...                                        id
0          Otto, Antoinette  ...  00646b9f-fec7-4ffb-9fb1-faae410bd9dc-0.1
1     Scharfenberg, William  ...  00646b9f-fec7-4ffb-9fb1-faae410bd9dc-0.1
2       Hill, Ureli Corelli  ...  00646b9f-fec7-4ffb-9fb1-faae410bd9dc-0.1
3            Derwort, G. H.  ...  00646b9f-fec7-4ffb-9fb1-faae410bd9dc-0.1
4           Boucher, Alfred  ...  00646b9f-fec7-4ffb-9fb1-faae410bd9dc-0.1
...                     ...  ...                                       ...
3549        Duncan, Isadora  ...  85d97664-c056-4256-a6c9-6dec4304ee6f-0.1
3550        Duncan, Isadora  ...  85d97664-c056-4256-a6c9-6dec4304ee6f-0.1
3551        Duncan, Isadora  ...  85d97664-c056-4256-a6c9-6dec4304ee6f-0.1
3552         Hofmann, Josef  ...  8b902318-a297-40f0-aece-fe731b516814-0.1
3553          Ornstein, Leo  ...  72860c7c-4742-41a6-8729-61ae9cddfc8f-0.1

[3554 rows x 4 columns]

PROBLEM 6: Display the instrument played by Lehmann Caroline

In [55]:
soloist_data[soloist_data['soloistName'] == 'Lehmann, Caroline']

           soloistName  ...                                        id
284  Lehmann, Caroline  ...  21b49b4a-1805-41b9-ace6-087743852af8-0.1
287  Lehmann, Caroline  ...  21b49b4a-1805-41b9-ace6-087743852af8-0.1
289  Lehmann, Caroline  ...  89c1db0d-8c41-4761-9e62-c2ca3713eb03-0.1
291  Lehmann, Caroline  ...  89c1db0d-8c41-4761-9e62-c2ca3713eb03-0.1
307  Lehmann, Caroline  ...  4e81347f-898d-48b8-92c2-2cda3809d45f-0.1
309  Lehmann, Caroline  ...  4e81347f-898d-48b8-92c2-2cda3809d45f-0.1

[6 rows x 4 columns]

PROBLEM 7: Display all vocalists

In [39]:
soloist_data['soloistName'].unique()

array(['Otto, Antoinette', 'Scharfenberg, William', 'Hill, Ureli Corelli',
       'Derwort, G. H.', 'Boucher, Alfred', 'Rosier, F. W.',
       'Horn, Charles Edward', 'Timm, Henry C.', 'Lehman',
       'Groneveldt, Theodore W.', 'Hegelund, H. W.', 'Woehning, F. C.',
       '', 'Rakeman, Frederick', 'Wiese, Frederick', 'Loder, Edward',
       'Gröneveldt, W. Theodore', 'Reiff, Anton, Sr.', 'Trojsi, Gaetano',
       'Wiegers, Louis', 'Castellan, Jeanne Anais', 'Kyle, John A.',
       'Johnson', 'Vieuxtemps, Henri', 'Valtellina', 'Ricci, Amalia',
       'Sanquirico', 'De Luce', 'Munson', 'Massett, J. Schwartz',
       'Arnoult', 'Mott', 'Lazare, Jenny', 'Wollenhauft, Hermann',
       'Starck, F.', 'Burke, Joseph', 'Northall, Julia',
       'Dodworth, Allen', 'Dodworth, Harvey B.', 'Pico', 'Beames',
       'Boulard', 'Mayer', 'Ablamowicz, Anna', 'Heuckeroth, Charles',
       'De Ribas', 'Liederkranz of the City of New York', 'Rapetti, M.',
       'Horn, C.E.', 'Hoffman, Richard', 'Arthurson', 'Leach, S. L.',
       'Elena, Luigi', 'Eltz, Paul', 'Haase, Carl F.W.', 'Schmitz, Henry',
       'Dresel, Otto', 'Distin, and His Sons', 'Willy, J.', 'Poppenberg',
       'Jacoby, Charles W.', 'Reitzel, F.', 'Chorus', 'Jones, L. A.',
       'Noll, Joseph', 'Bristow, George Frederick', 'Reyer, H.',
       'Perkins, James W.', 'Benedict, Jules', 'Bouchelle, Wallace',
       'Appy, Henri', 'Mayer, Philip', 'Drescher, J. E.',
       'Goldschmidt, Otto', 'Ohlemann, L.', 'Klein', 'Saar, William',
       'Bostwick, Emma Gillingham', 'Eben, Felix J.', 'Tourny, Mina',
       'Tourny, Louisa', 'Eichhorn, Louis', 'Siedenburg', 'Julien, Paul',
       "Root's Quartette Party", 'Jaques, Rosa', 'Gockel, August',
       'Aptommas, Thomas', 'Hahn, C.', 'Brainerd, Maria S.',
       'Schumann, Julius', 'Knaebel, Simon', 'Wallace, William Vincent',
       'Wallace, W.V.', 'Lehmann, Caroline', 'Kiefer, Xavier',
       'Urso, Camilla', 'Schreiber, Louis', 'Stuart, Georgiana R.',
       'Satter, Gustave', 'Mendelssohn Union', 'Brinkerhoff, Clara',
       'Unknown Soloist', 'Mason, William', 'Dingley, C. A.',
       'Feder, Otto', 'Mollenhauer, Edward', 'Mollenhauer, Friedrich',
       'Badiali, Caesare', 'La Grange, Anna De', 'Doehler, William',
       'Goldbeck, Robert', 'Johannsen Scheerer',
       'Gottschalk, Louis Moreau', 'Guyon, Emile', 'Roode, Marie De',
       'Milner, Annie', 'Mollenhauer, Henry', 'Labocetta',
       'Johnson-Graever [Gräver], Madeleine', 'Gassier',
       'Abella, Pedro de', "D'Angri, Elena", 'Cooper, Henry C.',
       'Andem, Hattie', 'Matzka, George', 'Bergner, Frederick',
       'Brannes, Charles', 'Arion Choral Society',
       'Teutonia Choral Society', 'Wollenhaupt, Bruno',
       'Couran, Marie Elina', 'Mills, Sebastian Bach', 'Inman, F.',
       'Stigelli, Giorgio', 'Napoleon, Arthur', 'Bishop, Anna',
       'Colson, Pauline', 'Centemeri, Pietro', 'Johannsen, Bertha',
       'Zimmermann', 'Dummler Schroeder', 'Harmonic Society',
       'Wooster, G. W.', 'Stoepel, Helene', 'Brignoli, Pasquale',
       'Susini, Augustino', 'Hinkley, Isabella', 'Parker, S. Lizzie',
       'Rowcroft, Emma', 'Fay, Abby', 'Ridolfi, F.', 'Hartmann, Ernst',
       'Ludecus', 'Letsch, Frederick', 'Pattison, J. N.', 'Thomas, J. B.',
       'Perring, J. Ernst', 'Kellogg, Clara Louise', 'Lorini, Virginia',
       'Quint, Louis', 'Hermanns, Joseph', 'Rotter', 'Paulitsch',
       'Lotti, William', 'Thomas, Theodore', 'Varian', 'Prume, Jehin',
       'Wehli, James M.', 'Poch, Carmelina', 'Dietz, Frederick, Sr.',
       'Seelig, Natalie', 'Wolfsohn, Carl', 'Boehm, Edward',
       'Groschel, Sophie', 'Kopta, Wenzel', 'Steins, F.',
       'Mosenthal, Joseph', 'Topp, Alide', 'Smith, H.M.',
       'Mayer, Ella J.', 'Hill, W. J.', 'Duschnitz, M.',
       'Parepa-Rosa, Euphrosyne', 'Phillipps, Adelaide', 'Bull, Ole',
       'Gazzaniga, Marietta', 'Albites', 'Jarvis, Charles H.',
       'Booth, Edwin', 'Siddons, Scott', 'Mehlig, Anna', 'Rietzel, F.',
       'Sohst, Adolf', 'Davison, Emily', 'Rosa, Carl',
       'Candidus, William', 'Remmertz, Franz', 'Czillag, Rosa',
       'Lichtmay, Louise', 'Krebs, Mary', 'Vandenhoff, George',
       'Goepel, August H.', 'Drewes, John', 'Friedrich, Louis',
       'Liesegang, Adolph', 'Bergmann, Carl', 'Hoch, Andreas',
       'Damrosch, Leopold', 'Gulager, Philipp D.', 'Pruckner, Dionys',
       'Corradi, Henriette', 'Sarasate, Pablo De', 'Sterling, Antoinette',
       'Rubinstein, Anton', 'Drasdil, Anna', 'Walter, Benno',
       'Speigler, Carl', 'Wieniawski, Henri', 'Schiever, Ernst',
       'Henne, Antonia', 'Murska, Ilma Di', 'Pope, William H.',
       'Donadio, Bianca', 'Luckhardt, Lina', 'Meyer, Leopold',
       'Rosburgh, Ida', 'Butman, E.', 'Borie, Annie J.', 'Rive, Julia',
       'Falk-Auerbach, Nannetta', 'Wachtel, Theodor', 'White, Joseph',
       'Pappenheim, Eugenie', 'Bischoff, H. A.', 'New York Saengerrunde',
       'Essipoff, Annette', 'Vivien, Alfred', 'Lang, Boris J.',
       'Steinbuch, Carl', 'Oratorio Society of New York', 'Hall, A.',
       'Cranch, Emma', 'Leggat, N. S.', 'Nilsen, J. R.',
       'Stoddard, Alonzo E.', 'Warner, G. P.', 'Boekelman, Bernard',
       'Hubbell, Ida', 'Simpson, George', 'Lichtenberg, Leopold',
       'Wilde, Mathilde', 'Wilhelmj, August', 'Remenyi, Edouard',
       'Galassi, Antonio F.', 'Pinner, Max', 'Hauk, Minnie',
       'Whitney, Myron William', 'Rummel, Franz', 'Dow, Anna Granger',
       'Heim, Leonie Groessler', 'Arnold, Richard', 'Gramm, Emil',
       'Werner, Charles', 'Lowack, Ferdinand', 'Weiner, Eugene',
       'Piper, Carl', 'Schirmer, Laura', 'New York Philharmonic Club',
       'Gantzberg, Julius', 'Winant, Emily', 'Swift, Mary L.',
       'Fritch, Christian', 'Dulcken, Ferdinand', 'Hill, John',
       'Rice-Knox, Florence', 'Graff, Jacob',
       'Copleston, Florence Nightingale', 'Thursby, Emma',
       'Valleria, Alwina', 'Bock, Anna', 'Fischer, Adolphe', 'No Soloist',
       'Rietzel, Hermann', 'Sherwin, Amy', 'Jordan, Arthur',
       'Bourne, F. G.', 'Joseffy, Rafael', 'Pollack, Fanny',
       'Dickerson, Jennie', 'Norman, Helen', 'Campanini, Italo',
       'Buxton, T.B.', 'Henschel, [Isidor] Georg[e]', 'Schwarz, Max',
       'Harvey, Raymond', 'Tower, W. C.', 'Treumann, Max',
       'Bailey, Lillian', 'Toedt, Theodore J.', 'Dengremont, Mauricio',
       'New York Chorus', 'Brooklyn Philharmonic Chorus',
       'Schiller, Madeleine', 'Brandt, Hermann', 'Simms, Hattie Louise',
       'King, A.L.', 'Cole, Belle', 'Banner, Michael Joshua',
       'Osgood, E. Aline', 'String Section, Entire', 'Little, Lena',
       'Schell, Hattie', 'Wurmb, Amalia', 'Steins, Oscar',
       'Heinrich, Max', "Trinity Boys' Choir",
       "St. Chrysostomus Chapel Boys' Choir", 'Schenck, Emil',
       'Beebe, Henriette', 'Woodruff, A. D.', 'Winch, John F.',
       'Albani, Emma', 'Rhodes, John F.', 'Scalchi, Sofia',
       'Huntington, Agnes B.', 'Musin, Ovide', 'Dossert, Christine',
       'Walker, Charlotte', 'Newark Harmonic Society', 'Baermann, Carl',
       'Grant, E. J.', 'Trebelli, Zelia', 'Thompson, C. H.',
       'Reinrich, Max', 'Henschel, Lillian June', 'Sacconi',
       'Giese, Fritz', 'Pinney, Jessie', 'Hoose, Ellison Van',
       'Stoeckert, Otto', 'Breitschuck, Herrmann', 'Stanley, W. H.',
       'Faelton, Carl', 'Scaria, Emil', 'Fursch-Madi, Emmy',
       'Staudigl, Joseph', 'Schroeder-Hanfstaengel, Marie', 'Pyk, Louise',
       'Brandt, Marianne', 'Bloomfield-Zeisler, Fannie',
       'Materna, Amalia', 'Powell, Maud', 'Sylva, Eloi', 'Lehmann, Lilli',
       'Mockridge, Whitney', 'Goldsticker, Carrie', 'Duke, Currie',
       'Henson-Emerson, Medora', 'Alvary, Lorenzo', 'Senger, Emil',
       'Earle, Ella A.', 'Florio, Caryl', 'Hastreiter, Helene', 'Ford',
       'Groebl, Marie', 'Heinrich, Julia', 'Riddle, George',
       'Dufft, Carl E.', 'Wilson, John H.', 'Coletti, Filippo',
       'Juch, Emma', 'Campbell, Helen D.', 'Lankow, Anna',
       'Ludwig, William', 'Kelin, Ida', 'Franconi', 'Mandeville',
       'Milde, von der', 'Herbert, Victor', 'Aus der Ohe, Adele',
       'Moore, Laura', 'Wehner, Carl', 'Guricks, Camille',
       'Elmblad, Johannes', 'Alvary, Max', 'Griswold', 'Mees, Arthur',
       'Edmands, Gertrude', 'Lawton, W. H.', 'Fischer, Emil',
       'Dannreuther, Gustav', 'Taubmann', 'Mittelhauser',
       'Rosenthal, Moritz', 'Alves, Carl', 'Franko, Nahan',
       'Bettaque, Katti', 'Kelly, Anna Luella', 'Dennison, William',
       'Doenhoff von', 'MacPherson', 'Goettich, Hans',
       'Lambert, Alexander', 'Clarke, Charles', 'Dempsey',
       "D'Albert, Eugen", 'Joubert', 'Ford, Estelle', 'Osborn, S. F.',
       'Reichmann, Theodor', 'Vere, Clementine de', 'Bulow, Hans Von',
       'Metropolitan Musical Society', 'Rieger, William H.',
       'Burmeister, Richard', 'Patrick-Walter, Jennie', 'Lavin, W. J.',
       'Ritter-Goetze, Marie', 'Schoeller, Pauline',
       'Zeisler, Fannie Bloomfield', 'Wyman, Walter C.',
       'Mielke, Antonie', 'Dippel, Andreas', 'Ebert, Thomas',
       'Bushnell, Ericsson F.', 'Behrens, Conrad', 'Smith, Gerrit',
       'Kronold-Koert, Koert Kronold', 'Clapper-Morris, Hattie',
       'Brodsky, Adolph', 'Nordica, Lillian', 'Paderewski, Ignace Jan',
       'Scharwenka, Franz Xaver', 'Morgan, Geraldine', 'Kaschoska',
       'Pachmann, Vladimir De', 'Manoly, Ludwig E.',
       'Busoni, Ferruccio B.', 'Wolf, Johannes', 'Castellano, Eugenia',
       'Hekking, Anton', 'Hollman, Joseph', 'Montegriffo, Agostino',
       'Mendelssohn Quartette Club', 'Metcalfe, James', 'Hawley, Charles',
       'Burckard, Martha', 'Blauvelt, Lillian Evans',
       'Middecke-Merckens, Josefa', 'Luckstone-Myers, Lena',
       'Greene, Plunket', 'Poole-King, Clara', 'Maconda, Charlotte',
       'Fleming, Katherine', 'Marteau, Henri', 'Vicini, Eugenio',
       'Novacek, Ottokar', 'Desvignes, Carlotta', 'McKinley, J. H.',
       'Bispham, David Scull', 'Wolf, Sigrid', 'Hegner, Anton',
       'Plancon [Plançon], Pol (Paul-Henri)', 'Damrosch, Walter',
       'Pevny, Olga', 'Wyman, Julia L.', 'Thomson, Cesar',
       'Ysaye, Eugène', 'MacDowell, Edward A.', 'Henderson, David G.',
       'Mills, Watkin', 'Campanari, Guiseppi', 'Sealy, Frank L.',
       'Sutro, Rose', 'Sutro, Ottilie', 'Simonson, Frieda',
       'Manen, Juanito', 'Barnard, Marie', 'Gerardy, Jean', 'Oberhauser',
       'Roth-Muehl, Nicolaus', 'Brema, Marie',
       'Marsick, Martin Pierre Joseph', 'Ondricek, Franz',
       'Williams, Evan', 'Sauret, Emile', 'Rivarde, Serge Achille',
       'Wetzler, Hermann Hans', 'Brockway, Howard', 'Schenck, Elliot',
       'Ternina, Milka', 'Ffrangcon-Davies, David T.',
       'Rubinstein Club Chorus', 'Apollo Club Chorus',
       'Szumowska, Antoinette', 'Hall, Marguerite', 'Westervelt, Louise',
       'Bloodgood, Katherine', 'Xanten, William', 'Hoffmann, Rachel',
       'Mertens, Wilhelm', 'Verlet, Alice', 'Seygard, Camille',
       'Graboff, Harry', 'Torriani, Jennie', 'Liebling, Max',
       'Oordt, Jan van', 'Halíř, Karel', 'Carl, William C.',
       'Jacoby, Josephine', 'Sieveking, Martinus', 'Mead, Olive',
       'Mannes, David', 'Pfeiffenschneider, Justus, Jr.',
       'Zimmermann, Gusta Meyer', 'Hamlin, George', 'Terrel, Florence',
       'Wallen, Laura Louise', 'Listemann, Franz', 'Baldwin, Adele',
       'Carreño, Teresa', 'Gadski, Johanna', 'Harris, Victor',
       'Stern, Leo', 'Russell, Ella', 'Miner, Martha J.',
       'Hoerlocker, Zora Gladys', 'Distelhurst, H. E.',
       'Witherspoon, Herbert', 'Davies, Benjamin Grey',
       "People's Singing Classes", 'Meyn, Heinrich',
       "People's Choral Union", 'Meredith, Eleanor', 'Clary, Mary Louise',
       'Yorx, Theodore Van', 'Pugno, Raoul', 'Melba, Nellie',
       'Brazzi, Stella', 'Mattfeld, Marie', 'Ibos, Guillaume',
       'Boudouresque, Auguste-Acanthe', 'Stehmann, Gerhard',
       'Vanni, Roberto', 'Siloti, Alexander', 'Rothstein, Ida',
       'Platz, Stella', 'Friedman, Carrie', 'Kahn, Augusta',
       'Stern, Josie', 'Burke, Esther G.', 'Morck, Rolf',
       'Musical Art Society', 'Anderson, Sara', 'Fiske, Katherine',
       'Whiting, Arthur', 'Burmester, Willy', 'MacCarthy, Maude',
       'Schumann-Heink, Ernestine', 'Paur, Emil', 'Gaylord, Margaret',
       'Chapman (Use 6043), Edith R.',
       'Norman-Neruda [Lady Hallé], Wilma', 'Van Rooy, Anton',
       'Kroll, Louis', 'Brandt, Frances', 'Lichtenstein, Alice',
       'Christensen, Anna', 'Brandt-Rantzan, Rolf de',
       'Petschnikoff, Alexander', 'Butt, Clara', 'Luckstone, Isidore',
       'Hambourg, Mark', 'Fried, Philip', 'Preston, Grace',
       'Jackson, Leonora', 'Schulz, Leo', 'Gale, Walter C.',
       'Chapman-Goold, Edith', 'Peck, Mrs.', 'Kreisler, Fritz',
       'Huss, Henry Holden', 'Moss, Hissam de', 'Langley, Leland',
       'Heyman, Katherine Ruth', 'Dohnanyi, Erno von', 'Becker, Hugo',
       'Bertram, Theodor', 'Friedheim, Arthur', 'Williamson, Mary',
       'Schuetze, Charles', 'Breitner, Ludwig', 'Koert, Jan',
       'Spindler, Julius', 'Roodenburg, John', 'Bode, Albert',
       'Zuckerman, Gussie', 'Krommer, Max', 'Meacham, Mrs.',
       'Farrell, Miss', 'Homan, Miss', 'Gildersleeve, Miss', 'Audience',
       'Nassau, Marie', 'Hofmann, Josef', 'Rulan, Tirzah Hamlen',
       'Bissell, Marie S.', 'Gregorowitsch, Charles', 'Bauer, Harold',
       'Hilke, Kathrin', 'Black, Morris', 'Webster Powell, Alma',
       'Pirani, Eugenio di', 'Gabrilowitsch, Ossip', 'McCarthy, Maud',
       'Crane, Ethel', 'Kirkby-Lunn, Louise', 'Ruegger, Elsa',
       'Heermann, Hugo', 'Gilibert, Charles', 'Roger-Miclos',
       'Margolies, Vera', 'Vrigo, Wilfrid', 'Patti, Adelina',
       'Zamels, Roza', 'Howard, Kathleen', 'Cunningham, Claude A.',
       'Thibaud, Jacques', 'Kaufmann, Maurice', 'Grasse, Edwin',
       'Schott, Anton', 'Graf-Schuecking, Ottilie',
       'Shotwell-Piper, Mme.', 'Beddoe, Dan F.', 'Van Hoose, Ellison',
       'Mihr-Hardy, Caroline', 'Crawford, Leneida', 'Young, John',
       'Johnson, Edward P.', 'Reisenauer, Alfred',
       'Merritt-Cochran, Alice', 'Spencer, Janet', 'Johnston, E.',
       'Strauss, Richard', 'Harmon, Bertha', 'Kennedy, Maud',
       'Crawford, Margaret', 'Wheeler, Katherine', 'Bloomfield, Estelle',
       'Cutter-Savage, Ruby', 'Archambault, Francis', 'Bromberg',
       'Cumming, Shanna', 'Wheeler, Frederick', 'Quesnel, Albert',
       'De Montjau, Etta', 'Friml, Rudolf', 'Bonsall', 'Barrow, Edward',
       'Lawrence, George', 'De Rohan, Marie', 'Cave, Ethel V.',
       'Samaroff, Olga', 'Vianna da Motta, José', 'Kovarik, Josef J.',
       'Bossert, Anna', 'Walker, Julian', 'Kurth, Charles',
       'Schade, William', 'Elmer, Emma E.', 'Hall, Glen Scott',
       'Eames, Emma', 'Munson, Grace', 'Connor, Adah', 'Rice, Fanny',
       'Vecsey, Franz von', 'Zilcher, Hermann', 'Dubois, Monsieur',
       'Dethier, Edouard', 'Coons, Minnie', 'Brouxmann, Mr.',
       'Calve, Emma', 'Von Norden, Mr.', 'Hall, Marie', 'Chew, Otie',
       'Baker, Beatrice', 'Kubelik, Jan', 'Schwab, Ludwig',
       "Downtown Cantors' Association of New York", 'Abott, Bessie',
       'Loeffler, Charles Martin', 'Ganz, Rudolph', 'Kunwald, Ernst',
       'Gerardy, M.', 'Schelke, Anna', 'James, Cecil', 'Croxton, Frank',
       'Jahn, Edmund A.', 'Duffey, J. Humbird', 'Pfeiffer, Selma',
       'Schmitt, Henry P.', 'Saint-Saens, Camille', 'Richolson, Edna',
       'Barrere [Barrère], Georges', 'Saslavsky, Alexander',
       'Mannes, Clara', 'Lhevinne, Josef', 'Stojowski, Sigismond',
       'Barbour, Inez', 'Niessen-Stone, Von', 'Janpolski, Albert G.',
       'Macmillen, Francis', 'Bach Choir of Montclair',
       'Burgstaller, Alois', 'Sammarco, Mario', 'Rider-Kelsey, Corinne',
       'Sassard, Eugenie', 'Sassard, Virginia', 'Schelling, Ernest',
       'Campbell, Rosemarie', 'Dufault, Paul', 'Schubert Glee Club',
       'Goodson, Katharine', "O'Brien, Rose", 'Taylor-Jones',
       'Gogorza, Emilio Edoardo de', 'Daniel, Tom', 'Bramsen, Henry',
       'Miller, Reed', 'Jomelli, Jeanne', 'Addimando, Caesare',
       'Labate, Bruno', 'Tabuteau, Marcel', 'Lansing, Mary',
       'Stoddart, Marie', 'Mesnard, Auguste',
       'Mount Vernon Choral Society', 'Fine, Beatrice', 'Evans, Edwin',
       'Spalding, Albert', 'Hartmann, Arthur', 'Leroy, Leon',
       'Duncan, Isadora', 'Schroeder, Alwin', 'Combs, Laura L.',
       'Bailey, Gertrude Stein', 'Farrar, Geraldine',
       'Schnitzer, Germaine', 'Keyes, Margaret', 'Elman, Mischa',
       'Kefer, Paul', 'Wuellner, Ludwig', 'Bos, Coenraad V.',
       'Rogers, Francis', 'Schaffer, Josephine', 'Weld, Frederick',
       'Goold, Edith Chapman', 'Fechheimer', 'Arnold, B. King', 'Gue',
       'Nobbes, E. B.', 'Bland, John', 'Becker, Delos', 'Bastow, Henry',
       'Sarto, Andreas', 'Kaschowska, Felicia', 'Elwes, Gervase',
       'Watrous, Herbert', 'Mahler, Gustav', 'Spiering, Theodore',
       'Elvyn, Myrtle', 'Rachmaninoff, Sergei', 'Malkin, Joseph',
       'Alten, Bella', 'Mero, Yolanda', 'Baker, Charles A.',
       'Harris, George, Jr.', 'Gebhard, Heinrich', 'Gallico, Paolo',
       'Martin, Riccardo', 'Koenen, Tilly', 'Verney, Romain',
       'Kellerman, Marcus', 'Ochs, Erich', 'Amato, Pasquale',
       'Norden, Berrick von', 'Shattuck, Frederic G.', 'Macdowell Chorus',
       'Catholic Oratorio Society', 'Hudson, Caroline', 'Mylott, Eva',
       'Jepson, Harry Benjamin', 'Biden, Sydney', 'Maley, Turney',
       'Harriss, Estelle', 'Miller, Margaret', 'Reardon, Mildred G.',
       'Hussey, Ada C.', 'Mulford, Florence', 'Veer, Nevada vander',
       'Marvin, Cornelia', 'Kitchell, Charles M.', 'Shaw, Alfred D.',
       'Hindermeyer, H. W.', 'Jorn, Carl', 'Hampden, Walter',
       'Showalter, Edna', 'Hutcheson, Ernest', 'Waterhouse, Viola',
       'Berber, Felix', 'Hyde, Arthur S.', 'Homer, Louise', 'Gluck, Alma',
       'Lashanska, Hulda', 'Kocian, Jaroslav', 'Gurowitsch, Sara',
       'Dodge, Elizabeth', 'Bowman, Beatrice', 'Wheeler, William',
       'Burleigh, T. H.', "Children's Chorus",
       "Choir Boys of St. George's Church", 'Clement, Edmond',
       'Berthald, Barron', 'Connell, Horatio', 'Rennyson, Gertrude',
       'Braun, J.F.', 'Zimbalist, Efrem', 'Borchard, Adolphe',
       'Fradkin, Fredric', 'Consolo, Ernesto', 'Parlow, Kathleen',
       'Noble, Marion', 'Clark, Charles W.', 'Alexander, Hudson',
       'Sylvan, Bertram', 'Shelke, W.F.', 'Ornstein, Leo'], dtype=object)

In [32]:
soloist_data[['soloistName']]

                soloistName
0          Otto, Antoinette
1     Scharfenberg, William
2       Hill, Ureli Corelli
3            Derwort, G. H.
4           Boucher, Alfred
...                     ...
3549        Duncan, Isadora
3550        Duncan, Isadora
3551        Duncan, Isadora
3552         Hofmann, Josef
3553          Ornstein, Leo

[3554 rows x 1 columns]

PROBLEM 8: Display orchestra played under program id 2561

In [50]:
nycphil[nycphil["programID"] == '2561']

                                          id  ...                                              works
48  5d1e33be-38d3-40e5-b848-cc88dd835574-0.1  ...  [{'ID': '4198*', 'composerName': 'Gade,  Niels...

[1 rows x 6 columns]

In [52]:
nycphil.loc[nycphil["programID"] == '2561', ['programID', 'orchestra']]

   programID              orchestra
48      2561  New York Philharmonic

********************************************* Test ends here **************************************************